<section class="py-12 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <h2 class="mb-10 text-center">
                    Shop by Brand
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/mango.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/zara.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/reebok.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/asos.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/stradivarius.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/adidas.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/bershka.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/forever21.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/esprit.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/converse.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="/Shop">
                    <img class="brand-img" src="/assets/img/brands/gray-350/calvin-klein.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/joop.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/h%26m.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/only.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/guess.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/river-island.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/victorias-secret.svg" alt="...">
                </a>
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <!-- Brand -->
                <a class="brand lift mb-7 text-center" href="#!">
                    <img class="brand-img" src="/assets/img/brands/gray-350/topshop.svg" alt="...">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!-- Link  -->
                <div class="mt-10 text-center">
                    <a class="link-underline" href="/Shop">Discover more</a>
                </div>
            </div>
        </div>
    </div>
</section>