<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2018 - 2020 © .Net Core 2.2 DataTable Crud
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="https://codecanyon.net/user/quanghoahcm/portfolio">About</a>
                    <a href="https://codecanyon.net/user/quanghoahcm/portfolio">Support</a>
                    <a href="https://codecanyon.net/user/quanghoahcm/portfolio">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>