<a href="@Url.Action("Index","Home")" class="topnav-logo">
    <span class="topnav-logo-lg">
        <img src="~/admin-assets/images/logo-light.png" alt="" height="16">
    </span>
    <span class="topnav-logo-sm">
        <img src="~/admin-assets/images/logo_sm.png" alt="" height="16">
    </span>
</a>