<div class="leftbar-user">
    <a href="javascript: void(0);">
        <img src="/admin-assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
        <span class="leftbar-user-name">Messi</span>       
            <i class="fa fa-circle text-success"></i>           
                <span> Online as Super Admin</span>           
       
    </a>
    </div>
