<section class="pb-12">
    <div class="container">
        <div class="row position-relative align-items-center">
            <div class="col-md-7 col-lg-5 offset-lg-1">
                <!-- Slider -->
                <div class="d-none d-md-block" data-flickity='{"fade": true, "asNavFor": "#sliderArrivals", "draggable": false}'>
                    <!-- Item -->
                    <div class="w-100">
                        <img src="/assets/img/products/product-34.jpg" alt="..." class="img-fluid">
                    </div>
                    <!-- Item -->
                    <div class="w-100">
                        <img src="/assets/img/products/product-136.jpg" alt="..." class="img-fluid">
                    </div>
                    <!-- Item -->
                    <div class="w-100">
                        <img src="/assets/img/products/product-138.jpg" alt="..." class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 offset-lg-1 position-static">
                <!-- Preheading -->
                <h6 class="heading-xxs text-center text-gray-400">
                    Perfect summer
                </h6>
                <!-- Heading -->
                <h3 class="mb-10 text-center">
                    Summer Days Look
                </h3>
                <!-- Slider -->
                <div class="position-static flickity-buttons-lg" id="sliderArrivals" data-flickity='{"pageDots": true, "prevNextButtons": true}'>
                    <!-- Item -->
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card">
                            <!-- Badge -->
                            <div class="badge badge-dark card-badge">
                                <span class="text-uppercase">New</span>
                            </div>
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Action -->
                                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                                <!-- Image -->
                                <img class="card-img-top" src="/assets/img/products/product-35.jpg" alt="...">
                            </div>
                            <!-- Body -->
                            <div class="card-body font-weight-bold text-center">
                                <a class="font-size-lg text-body" href="/Product">Textured cotton Top</a>
                                <div>
                                    <span class="text-gray-350 text-decoration-line-through">$90.00</span>
                                    <span class="font-size-lg text-primary">$69.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card">
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Action -->
                                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                                <!-- Image -->
                                <img class="card-img-top" src="/assets/img/products/product-137.jpg" alt="...">
                            </div>
                            <!-- Body -->
                            <div class="card-body font-weight-bold text-center">
                                <a class="font-size-lg text-body" href="/Product">Animal crossbody Bag</a>
                                <div>
                                    <span class="font-size-lg text-muted">$59.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="col-12">
                        <!-- Card -->
                        <div class="card">
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Action -->
                                <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                                <!-- Image -->
                                <img class="card-img-top" src="/assets/img/products/product-139.jpg" alt="...">
                            </div>
                            <!-- Body -->
                            <div class="card-body font-weight-bold text-center">
                                <a class="font-size-lg text-body" href="/Product">Jacket with Pockets</a>
                                <div>
                                    <span class="font-size-lg text-muted">$70.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>