<nav class="navbar navbar-expand-xl navbar-light zindex-fixed">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="overview.html">
            BootShop.
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBoxedTopCollapse" aria-controls="navbarBoxedTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarBoxedTopCollapse">
            <!-- Nav -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Home</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="index.html">Default</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexClassic">Classic</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexFashion">Fashion</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexBoxed">Boxed</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexSimple">Simple</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexAsymmetric">Asymmetric</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexSidenav">Sidenav</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexLanding">Landing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Shop</a>
                    <!-- Menu -->
                    <div class="dropdown-menu" style="min-width: 650px;">
                        <div class="card card-lg">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Shop</div>
                                        <!-- Links -->
                                        <ul class="list-styled mb-7 font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop">Default</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Topbar">Topbar</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Collapse">Collapse</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Simple">Simple</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Masonry">Masonry</a>
                                            </li>
                                        </ul>
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Product</div>
                                        <!-- Links -->
                                        <ul class="list-styled font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product">Default</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageLeft">Images Left</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageGrid">Image Grid</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageSlider">Image Slider</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageStaked">Images Stacked</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Support</div>
                                        <!-- Links -->
                                        <ul class="list-styled mb-7 font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/ShoppingCart">Shopping Cart</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Checkout">Checkout</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/OrderCompleted">Order Completed</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/ShippingAndReturns">Shipping & Returns</a>
                                            </li>
                                        </ul>
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Account</div>
                                        <!-- Links -->
                                        <ul class="list-styled font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/AccountOrder">Order</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/AccountOrders">Orders</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/PersonalInfo">Personal Info</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/WishList">Wishlist</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/Auth">Auth</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Modals</div>
                                        <!-- Links -->
                                        <ul class="list-styled font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterHorizontal">
                                                    Newsletter: Horizontal
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterVertical">
                                                    Newsletter: Vertical
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalProduct">
                                                    Product
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalSearch">
                                                    Search
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalShoppingCart">
                                                    Shopping Cart
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalSizeChart">
                                                    Size Chart
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalWaitList">
                                                    Wait List
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Pages</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/About">About</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/ContactUs">Contact Us</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/StoreLocator">Store Locator</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/Faq">FAQ</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/ComingSoon">Coming Soon</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="404.html">404</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Blog</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Blog">Blog</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Blog/BlogPost">Blog Post</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin">Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/getting-started.html">Docs</a>
                </li>
            </ul>
            <!-- Nav -->
            <ul class="navbar-nav nav-divided">
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link text-body dropdown-toggle" data-toggle="dropdown" href="#">United States</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">United States</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">Canada</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">Germany</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link text-body dropdown-toggle" data-toggle="dropdown" href="#">USD</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">USD</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">EUR</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link text-body dropdown-toggle" data-toggle="dropdown" href="#">EN</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">English</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">French</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="#!">German</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Nav -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" href="#modalSearch">
                        <i class="fe fe-search"></i>
                    </a>
                </li>
                <li class="nav-item ml-lg-n4">
                    <a class="nav-link" href="/Account/AccountOrders">
                        <i class="fe fe-user"></i>
                    </a>
                </li>
                <li class="nav-item ml-lg-n4">
                    <a class="nav-link" href="/Account/WishList">
                        <i class="fe fe-heart"></i>
                    </a>
                </li>
                <li class="nav-item ml-lg-n4">
                    <a class="nav-link" data-toggle="modal" href="#modalShoppingCart">
                        <span data-cart-items="2">
                            <i class="fe fe-shopping-cart"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>