<div class="modal fixed-right fade" id="modalSidebar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical" role="document">
        <div class="modal-content">
            <!-- Close -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fe fe-x" aria-hidden="true"></i>
            </button>
            <!-- Body -->
            <div class="modal-body px-10 my-auto">
                <!-- Nav -->
                <ul class="nav nav-vertical nav-unstyled font-size-h2" id="sidebarNav">
                    <li class="nav-item">
                        <!-- Toggle -->
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#sidebarHome">
                            Home
                        </a>
                        <!-- Collapse -->
                        <div class="collapse" id="sidebarHome" data-parent="#sidebarNav">
                            <ul class="list-styled font-size-lg py-3 mb-0">
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/Index">Default</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexClassic">Classic</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexFashion">Fashion</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexBoxed">Boxed</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexSimple">Simple</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexAsymmetric">Asymmetric</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexSidenav">Sidenav</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/IndexLanding">Landing</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Toggle -->
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#sidebarCatalog">
                            Catalog
                        </a>
                        <!-- Collapse -->
                        <div class="collapse" id="sidebarCatalog" data-parent="#sidebarNav">
                            <div class="row">
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5 font-weight-bold">Clothing</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg py-3">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">All Clothing</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Blouses & Shirts</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Coats & Jackets</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Dresses</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Hoodies & Sweats</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Denim</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Jeans</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Jumpers & Cardigans</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Leggings</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5 font-weight-bold">Shoes & Boots</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">All Shoes & Boots</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Branded Shoes</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Boots</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Heels</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Trainers</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Sandals</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Shoes</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Wide Fit Shoes</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5 font-weight-bold">Bags & Accessories</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">All Bags & Accessories</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Accessories</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Bags & Purses</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Luggage</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Belts</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Hats</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Hair Accessories</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Jewellery</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Travel Accessories</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Toggle -->
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#sidebarShop">
                            Shop
                        </a>
                        <!-- Collapse -->
                        <div class="collapse" id="sidebarShop" data-parent="#sidebarNav">
                            <div class="row">
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5">Shop</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop">Default</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/Topbar">Topbar</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/Collapse">Collapse</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/Simple">Simple</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/Masonry">Masonry</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5">Product</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Product">Default</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Product/ImageLeft">Images Left</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Product/ImageGrid">Image Grid</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Product/ImageSlider">Image Slider</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Product/ImageStaked">Images Stacked</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5">Support</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/ShoppingCart">Shopping Cart</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/Checkout">Checkout</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/OrderCompleted">Order Completed</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Shop/ShippingAndReturns">Shipping & Returns</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5">Account</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Account/AccountOrder">Order</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Account/AccountOrders">Orders</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Account/PersonalInfo">Personal Info</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Account/WishList">Wishlist</a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" href="/Account/Auth">Auth</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12 py-3">
                                    <!-- Heading -->
                                    <h6 class="mb-5">Modals</h6>
                                    <!-- Links -->
                                    <ul class="list-styled font-size-lg">
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterHorizontal">
                                                Newsletter: Horizontal
                                            </a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterVertical">
                                                Newsletter: Vertical
                                            </a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalProduct">
                                                Product
                                            </a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalSearch">
                                                Search
                                            </a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalShoppingCart">
                                                Shopping Cart
                                            </a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalSizeChart">
                                                Size Chart
                                            </a>
                                        </li>
                                        <li class="list-styled-item">
                                            <a class="list-styled-link" data-toggle="modal" href="#modalWaitList">
                                                Wait List
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Toggle -->
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#sidebarPages">
                            Pages
                        </a>
                        <!-- Collapse -->
                        <div class="collapse" id="sidebarPages" data-parent="#sidebarNav">
                            <ul class="list-styled font-size-lg py-3 mb-0">
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/About">About</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/ContactUs">Contact Us</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/StoreLocator">Store Locator</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/Faq">FAQ</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Home/ComingSoon">Coming Soon</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="404.html">404</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Toggle -->
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#sidebarBlog">
                            Blog
                        </a>
                        <!-- Collapse -->
                        <div class="collapse" id="sidebarBlog" data-parent="#sidebarNav">
                            <ul class="list-styled font-size-lg py-3 mb-0">
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Blog">Blog</a>
                                </li>
                                <li class="list-styled-item">
                                    <a class="list-styled-link" href="/Blog/BlogPost">Blog Post</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="docs/getting-started.html">Docs</a>
                    </li>
                </ul>
            </div>
            <!-- Body -->
            <div class="moda-body px-10 py-9">
                <!-- Social links -->
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-gray-350" href="#!">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-gray-350" href="#!">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-gray-350" href="#!">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-gray-350" href="#!">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-gray-350" href="#!">
                            <i class="fab fa-medium-m"></i>
                        </a>
                    </li>
                </ul>
                <!-- Footer -->
                <div class="font-size-xxs text-gray-350">
                    © 2020 All rights reserved. Designed by BootShop.
                </div>
            </div>
        </div>
    </div>
</div>