<section class="py-12">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <h2 class="mb-10 text-center">New Arrivals</h2>
            </div>
        </div>
    </div>
    <div class="flickity-page-dots-progress" data-flickity='{"pageDots": true}'>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-6.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Cotton floral print Dress</a> <br>
                    <span class="text-muted">$40.00</span>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Badge -->
                    <span class="badge badge-dark card-badge card-badge-left text-uppercase">
                        Sale
                    </span>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-10.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Suede cross body Bag</a> <br>
                    <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
                    <span class="text-primary">$49.00</span>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-32.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Cotton leaf print Shirt</a> <br>
                    <span class="text-muted">$65.00</span>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-7.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Leather Sneakers</a> <br>
                    <a class="text-primary" href="#">Select Options</a>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-11.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Another fine dress</a> <br>
                    <span class="text-muted">$99.00</span>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-33.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Baseball Cap</a> <br>
                    <span class="text-muted">$10.00</span>
                </div>
            </div>
        </div>
        <!-- Item -->
        <div class="col" style="max-width: 300px;">
            <div class="card">
                <!-- Image -->
                <div class="card-img">
                    <!-- Action -->
                    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
                        <i class="fe fe-heart"></i>
                    </button>
                    <!-- Button -->
                    <button class="btn btn-xs btn-block btn-dark card-btn" data-toggle="modal" data-target="#modalProduct">
                        <i class="fe fe-eye mr-2 mb-1"></i> Quick View
                    </button>
                    <!-- Image -->
                    <img class="card-img-top" src="/assets/img/products/product-49.jpg" alt="...">
                </div>
                <!-- Body -->
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="/Product">Leather sneakers</a> <br>
                    <span class="text-muted">$19.00</span>
                </div>
            </div>
        </div>
    </div>
</section>