<section class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="row h-100">
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-16.jpg);"></div>
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-40.jpg);"></div>
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-41.jpg);"></div>
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-17.jpg);"></div>
                </div>
            </div>
            <div class="col-12 col-lg-4 py-12 px-9 text-center">
                <!-- Icon -->
                <i class="fe fe-instagram h3 mb-6"></i>
                <!-- Heading -->
                <h2 class="mb-6">Instashop</h2>
                <!-- Text -->
                <p class="mb-8 font-size-lg text-muted">
                    Appear, dry there darkness they're seas, dry
                    waters thing fly midst. Beast, above fly
                    brought Very green.
                </p>
                <!-- Link -->
                <a href="#!" class="link-underline">Go to Instagram</a>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row h-100">
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-42.jpg);"></div>
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-21.jpg);"></div>
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-18.jpg);"></div>
                    <div class="col-6 bg-cover" style="background-image: url(/assets/img/products/product-43.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
</section>