<section class="py-12 bg-primary bg-pattern">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <!-- Heading-->
                <h1 class="display-4 mb-9 text-white">
                    Sale up to 50% off
                </h1>
                <!-- Buttons -->
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Dresses</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Tops & T-Shirts</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Blouses & Shirts</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Jeans & Trousers</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Jeans & Trousers</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Shoes</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Acessories</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Coats & Jakets</a>
                <a class="btn btn-outline-white border-2 px-md-8 m-2 m-md-4" href="/Shop">Shorts & Skirts</a>
            </div>
        </div>
    </div>
</section>