
@{
    ViewData["Title"] = "Collapse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- FILTERS -->
<section class="py-7 border-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md">
                <!-- Categories -->
                <nav class="nav nav-overflow mb-6 mb-md-0">
                    <a class="nav-link active" data-toggle="tab" href="#">All</a>
                    <a class="nav-link" data-toggle="tab" href="#">Dresses</a>
                    <a class="nav-link" data-toggle="tab" href="#">Coats</a>
                    <a class="nav-link" data-toggle="tab" href="#">T-Shirts</a>
                    <a class="nav-link" data-toggle="tab" href="#">Jeans</a>
                    <a class="nav-link" data-toggle="tab" href="#">Jumpers</a>
                </nav>
            </div>
            <div class="col-12 col-md-auto text-center">
                <!-- Filter -->
                <a class="text-body" data-toggle="collapse" href="#collapseFilter" role="button">
                    <i class="fe fe-list mr-2"></i> Filter
                </a>
                <!-- Sort -->
                <div class="dropdown ml-6">
                    <!-- Toggle -->
                    <a class="dropdown-toggle text-body" data-toggle="dropdown" href="#">Default</a>
                    <!-- Menu -->
                    <form class="dropdown-menu">
                        <div class="card">
                            <div class="card-body">
                                <!-- Form group -->
                                <div class="form-group-overflow">
                                    <div class="custom-control custom-control-text mb-3">
                                        <input class="custom-control-input" id="sortOne" name="sort" type="radio" value="Default">
                                        <label class="custom-control-label" for="sortOne">Default</label>
                                    </div>
                                    <div class="custom-control custom-control-text mb-3">
                                        <input class="custom-control-input" id="sortTwo" name="sort" type="radio" value="Newest">
                                        <label class="custom-control-label" for="sortTwo">Newest</label>
                                    </div>
                                    <div class="custom-control custom-control-text mb-3">
                                        <input class="custom-control-input" id="sortThree" name="sort" type="radio" value="Most Popular">
                                        <label class="custom-control-label" for="sortThree">Most Popular</label>
                                    </div>
                                    <div class="custom-control custom-control-text mb-3">
                                        <input class="custom-control-input" id="sortFour" name="sort" type="radio" value="Default Price">
                                        <label class="custom-control-label" for="sortFour">Default Price</label>
                                    </div>
                                    <div class="custom-control custom-control-text">
                                        <input class="custom-control-input" id="sortFive" name="sort" type="radio" value="Highest Price">
                                        <label class="custom-control-label" for="sortFive">Highest Price</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FILTERS (collapse) -->
<section class="collapse" id="collapseFilter">
    <form class="py-7 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <!-- Heading -->
                    <p class="font-size-lg">
                        <strong>Season:</strong>
                    </p>
                    <!-- Form group -->
                    <div class="form-group form-group-overflow mb-md-0">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="seasonOne" name="category" type="checkbox" value="Summer">
                            <label class="custom-control-label" for="seasonOne">Summer</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="seasonTwo" name="category" type="checkbox" value="Winter">
                            <label class="custom-control-label" for="seasonTwo">Winter</label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="seasonThree" name="category" type="checkbox" value="Spring & Fall">
                            <label class="custom-control-label" for="seasonThree">Spring & Fall</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <!-- Heading -->
                    <p class="font-size-lg">
                        <strong>Size:</strong>
                    </p>
                    <!-- Form group -->
                    <div class="form-group form-group-overflow mb-md-0">
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeOne" type="checkbox">
                            <label class="custom-control-label" for="sizeOne">
                                3XS
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeTwo" type="checkbox" disabled>
                            <label class="custom-control-label" for="sizeTwo">
                                2XS
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeThree" type="checkbox">
                            <label class="custom-control-label" for="sizeThree">
                                XS
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeFour" type="checkbox">
                            <label class="custom-control-label" for="sizeFour">
                                S
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeFive" type="checkbox">
                            <label class="custom-control-label" for="sizeFive">
                                M
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeSix" type="checkbox">
                            <label class="custom-control-label" for="sizeSix">
                                L
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeSeven" type="checkbox">
                            <label class="custom-control-label" for="sizeSeven">
                                XL
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeEight" type="checkbox" disabled>
                            <label class="custom-control-label" for="sizeEight">
                                2XL
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeNine" type="checkbox">
                            <label class="custom-control-label" for="sizeNine">
                                3XL
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeTen" type="checkbox">
                            <label class="custom-control-label" for="sizeTen">
                                4XL
                            </label>
                        </div>
                        <div class="custom-control custom-control-inline custom-control-size mb-2">
                            <input class="custom-control-input" id="sizeEleven" type="checkbox">
                            <label class="custom-control-label" for="sizeEleven">
                                One Size
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <!-- Heading -->
                    <p class="font-size-lg">
                        <strong>Color:</strong>
                    </p>
                    <!-- Form group -->
                    <div class="form-group form-group-overflow mb-md-0">
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorOne" type="checkbox">
                            <label class="custom-control-label text-dark" for="colorOne"></label>
                        </div>
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorTwo" type="checkbox">
                            <label class="custom-control-label" style="color: #f9f9f9;" for="colorTwo"></label>
                        </div>
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorThree" type="checkbox">
                            <label class="custom-control-label text-info" for="colorThree"></label>
                        </div>
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorFour" type="checkbox">
                            <label class="custom-control-label text-primary" for="colorFour"></label>
                        </div> <br>
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorFive" type="checkbox">
                            <label class="custom-control-label" for="colorFive" style="color: #795548"></label>
                        </div>
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorSix" type="checkbox">
                            <label class="custom-control-label text-gray-300" for="colorSix"></label>
                        </div>
                        <div class="custom-control custom-control-color custom-control-inline mb-3">
                            <input class="custom-control-input" id="colorSeven" type="checkbox">
                            <label class="custom-control-label" for="colorSeven" style="color: #17a2b8;"></label>
                        </div>
                        <div class="custom-control custom-control-color custom-control-inline">
                            <input class="custom-control-input" id="colorEight" type="checkbox">
                            <label class="custom-control-label" for="colorEight" style="color: #e83e8c;"></label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <!-- Heading -->
                    <p class="font-size-lg">
                        <strong>Price:</strong>
                    </p>
                    <!-- Form group-->
                    <div class="form-group form-group-overflow mb-6" id="priceGroup">
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="priceOne" type="checkbox">
                            <label class="custom-control-label" for="priceOne">
                                $10.00 - $49.00
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="priceTwo" type="checkbox">
                            <label class="custom-control-label" for="priceTwo">
                                $50.00 - $99.00
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="priceThree" type="checkbox">
                            <label class="custom-control-label" for="priceThree">
                                $100.00 - $199.00
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="priceFour" type="checkbox">
                            <label class="custom-control-label" for="priceFour">
                                $200.00 and Up
                            </label>
                        </div>
                    </div>
                    <!-- Range -->
                    <div class="d-flex align-items-center">
                        <!-- Input -->
                        <input type="number" class="form-control form-control-xs" placeholder="$10.00" min="10">
                        <!-- Divider -->
                        <div class="text-gray-350 mx-2">β</div>
                        <!-- Input -->
                        <input type="number" class="form-control form-control-xs" placeholder="$350.00" max="350">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- CONTENT -->
<section class="py-12">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-5.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Leather mid-heel Sandals</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $129.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="3">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Badge -->
                    <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                        Sale
                    </div>
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-6.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Cotton floral print Dress</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                <span class="font-size-xs text-gray-350 text-decoration-line-through">
                                    $76.00
                                </span>
                                <span class="text-primary">$25.00</span>
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="4">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-7.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Leather Sneakers</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $115.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-32.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Cotton leaf print Shirt</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $65.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="2">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-8.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Cropped cotton Top</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $29.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Divider -->
            <div class="w-100 d-none d-lg-block"></div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-9.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Floral print midi Dress</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $50.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-10.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Suede cross body Bag</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $79.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="5">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-48.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Sweatshirt with Pocket</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $39.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="4">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-11.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Printed A-line Skirt</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                $79.00
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="5">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg">
                <!-- Card -->
                <div class="card mb-7" data-toggle="card-collapse">
                    <!-- Badge -->
                    <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                        Sale
                    </div>
                    <!-- Image -->
                    <a href="/Product">
                        <img src="/assets/img/products/product-49.jpg" alt="..." class="card-img-top">
                    </a>
                    <!-- Collapse -->
                    <div class="card-collapse-parent">
                        <!-- Body -->
                        <div class="card-body px-0 bg-white text-center">
                            <!-- Heading -->
                            <div class="mb-1 font-weight-bold">
                                <a class="text-body" href="/Product">Menβs leather Sneakers</a>
                            </div>
                            <!-- Price -->
                            <div class="mb-1 font-weight-bold text-muted">
                                <span class="font-size-xs text-gray-350 text-decoration-line-through">
                                    $145.00
                                </span>
                                <span class="text-primary">$99.00</span>
                            </div>
                            <!-- Rating -->
                            <div class="rating font-size-xxs text-dark justify-content-center" data-value="3">
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="card-collapse collapse">
                            <div class="card-footer px-0 pt-0 bg-white text-center">
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="modal" data-target="#modalProduct">
                                    <i class="fe fe-eye"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-shopping-cart"></i>
                                </button>
                                <button class="btn btn-xs btn-link btn-circle" data-toggle="button">
                                    <i class="fe fe-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Progress -->
                <div class="row justify-content-center mt-7">
                    <div class="col-12 text-center">
                        <!-- Caption -->
                        <p class="font-size-sm text-muted">
                            Showing 16 of 24 products
                        </p>
                        <!-- Progress -->
                        <div class="progress mx-auto mb-7" style="max-width: 250px;">
                            <div class="progress-bar bg-dark" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- Button -->
                        <a class="btn btn-sm btn-outline-dark" href="#!">
                            Load more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


