
@{
    ViewData["Title"] = "Locator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- NAVBAR -->
<div class="navbar navbar-topbar navbar-expand-xl navbar-light bg-light">
    <div class="container">
        <!-- Promo -->
        <div class="mr-xl-8">
            <i class="fe fe-truck mr-2"></i> <span class="heading-xxxs">Free shipping worldwide</span>
        </div>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbarCollapse" aria-controls="topbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="topbarCollapse">
            <!-- Nav -->
            <ul class="nav nav-divided navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <img class="mb-1 mr-1" src="/assets/img/flags/usa.svg" alt="..." /> United States
                    </a>
                    <!-- Menu -->
                    <div class="dropdown-menu minw-0">
                        <a class="dropdown-item" href="#!">
                            <img class="mb-1 mr-2" src="/assets/img/flags/usa.svg" alt="USA">United States
                        </a>
                        <a class="dropdown-item" href="#!">
                            <img class="mb-1 mr-2" src="/assets/img/flags/canada.svg" alt="Canada">Canada
                        </a>
                        <a class="dropdown-item" href="#!">
                            <img class="mb-1 mr-2" src="/assets/img/flags/germany.svg" alt="Germany">Germany
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">USD</a>
                    <!-- Menu -->
                    <div class="dropdown-menu minw-0">
                        <a class="dropdown-item" href="#!">USD</a>
                        <a class="dropdown-item" href="#!">EUR</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">English</a>
                    <!-- Menu -->
                    <div class="dropdown-menu minw-0">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">French</a>
                        <a class="dropdown-item" href="#">German</a>
                    </div>
                </li>
            </ul>
            <!-- Nav -->
            <ul class="nav navbar-nav mr-8">
                <li class="nav-item">
                    <a class="nav-link" href="/Shop/ShippingAndReturns">Shipping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/ContactUs">Contact</a>
                </li>
            </ul>
            <!-- Nav -->
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item ml-xl-n4">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item ml-xl-n4">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item ml-xl-n4">
                    <a class="nav-link text-gray-350" href="#!">
                        <i class="fab fa-medium"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="overview.html">
            BootShop.
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Home</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="index.html">Default</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexClassic">Classic</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexFashion">Fashion</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexBoxed">Boxed</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexSimple">Simple</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexAsymmetric">Asymmetric</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexSidenav">Sidenav</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/IndexLanding">Landing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown position-static">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Catalog</a>
                    <!-- Menu -->
                    <div class="dropdown-menu w-100">
                        <!-- Tabs -->
                        <form class="mb-2 mb-lg-0 border-bottom-lg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Nav -->
                                        <nav class="nav nav-tabs nav-overflow font-size-xs border-bottom border-bottom-lg-0">
                                            <a class="nav-link text-uppercase active" data-toggle="tab" href="#navTab">
                                                Women
                                            </a>
                                            <a class="nav-link text-uppercase" data-toggle="tab" href="#navTab">
                                                Men
                                            </a>
                                            <a class="nav-link text-uppercase" data-toggle="tab" href="#navTab">
                                                Kids
                                            </a>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Tab content -->
                        <div class="card card-lg">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="navTab">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6 col-md">
                                                    <!-- Heading -->
                                                    <div class="mb-5 font-weight-bold">Clothing</div>
                                                    <!-- Links -->
                                                    <ul class="list-styled mb-6 mb-md-0 font-size-sm">
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">All Clothing</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Blouses & Shirts</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Coats & Jackets</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Dresses</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Hoodies & Sweats</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Denim</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Jeans</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Jumpers & Cardigans</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Leggings</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md">
                                                    <!-- Heading -->
                                                    <div class="mb-5 font-weight-bold">Shoes & Boots</div>
                                                    <!-- Links -->
                                                    <ul class="list-styled mb-6 mb-md-0 font-size-sm">
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">All Shoes & Boots</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Branded Shoes</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Boots</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Heels</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Trainers</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Sandals</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Shoes</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Wide Fit Shoes</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md">
                                                    <!-- Heading -->
                                                    <div class="mb-5 font-weight-bold">Bags & Accessories</div>
                                                    <!-- Links -->
                                                    <ul class="list-styled mb-0 font-size-sm">
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">All Bags & Accessories</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Accessories</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Bags & Purses</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Luggage</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Belts</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Hats</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Hair Accessories</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Jewellery</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Travel Accessories</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md">
                                                    <!-- Heading -->
                                                    <div class="mb-5 font-weight-bold">Collections</div>
                                                    <!-- Links -->
                                                    <ul class="list-styled mb-0 font-size-sm">
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">All Collections</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Occasionwear</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Going Out</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Workwear</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Holiday Shop</a>
                                                        </li>
                                                        <li class="list-styled-item">
                                                            <a class="list-styled-link" href="/Shop">Jean Fit Guide</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-4 d-none d-lg-block">
                                                    <!-- Card -->
                                                    <div class="card">
                                                        <!-- Image -->
                                                        <img class="card-img" src="/assets/img/products/product-110.jpg" alt="...">
                                                        <!-- Overlay -->
                                                        <div class="card-img-overlay bg-dark-0 bg-hover align-items-center">
                                                            <div class="text-center">
                                                                <a class="btn btn-white stretched-link" href="/Shop">
                                                                    Shop Sweaters <i class="fe fe-arrow-right ml-2"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Shop</a>
                    <!-- Menu -->
                    <div class="dropdown-menu" style="min-width: 650px;">
                        <div class="card card-lg">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Shop</div>
                                        <!-- Links -->
                                        <ul class="list-styled mb-7 font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop">Default</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Topbar">Topbar</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Collapse">Collapse</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Simple">Simple</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Masonry">Masonry</a>
                                            </li>
                                        </ul>
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Product</div>
                                        <!-- Links -->
                                        <ul class="list-styled font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product">Default</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageLeft">Images Left</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageGrid">Image Grid</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageSlider">Image Slider</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Product/ImageStaked">Images Stacked</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Support</div>
                                        <!-- Links -->
                                        <ul class="list-styled mb-7 font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/ShoppingCart">Shopping Cart</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/Checkout">Checkout</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/OrderCompleted">Order Completed</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Shop/ShippingAndReturns">Shipping & Returns</a>
                                            </li>
                                        </ul>
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Account</div>
                                        <!-- Links -->
                                        <ul class="list-styled font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/AccountOrder">Order</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/AccountOrders">Orders</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/PersonalInfo">Personal Info</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/WishList">Wishlist</a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" href="/Account/Auth">Auth</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <!-- Heading -->
                                        <div class="mb-5 font-weight-bold">Modals</div>
                                        <!-- Links -->
                                        <ul class="list-styled font-size-sm">
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterHorizontal">
                                                    Newsletter: Horizontal
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalNewsletterVertical">
                                                    Newsletter: Vertical
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalProduct">
                                                    Product
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalSearch">
                                                    Search
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalShoppingCart">
                                                    Shopping Cart
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalSizeChart">
                                                    Size Chart
                                                </a>
                                            </li>
                                            <li class="list-styled-item">
                                                <a class="list-styled-link" data-toggle="modal" href="#modalWaitList">
                                                    Wait List
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Pages</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/About">About</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/ContactUs">Contact Us</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/StoreLocator">Store Locator</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/Faq">FAQ</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Home/ComingSoon">Coming Soon</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="404.html">404</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <!-- Toggle -->
                    <a class="nav-link" data-toggle="dropdown" href="#">Blog</a>
                    <!-- Menu -->
                    <div class="dropdown-menu">
                        <div class="card card-lg">
                            <div class="card-body">
                                <ul class="list-styled font-size-sm">
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Blog">Blog</a>
                                    </li>
                                    <li class="list-styled-item">
                                        <a class="list-styled-link" href="/Blog/BlogPost">Blog Post</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin">Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="docs/getting-started.html">Docs</a>
                </li>
            </ul>
            <!-- Nav -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" href="#modalSearch">
                        <i class="fe fe-search"></i>
                    </a>
                </li>
                <li class="nav-item ml-lg-n4">
                    <a class="nav-link" href="/Account/AccountOrders">
                        <i class="fe fe-user"></i>
                    </a>
                </li>
                <li class="nav-item ml-lg-n4">
                    <a class="nav-link" href="/Account/WishList">
                        <i class="fe fe-heart"></i>
                    </a>
                </li>
                <li class="nav-item ml-lg-n4">
                    <a class="nav-link" data-toggle="modal" href="#modalShoppingCart">
                        <span data-cart-items="2">
                            <i class="fe fe-shopping-cart"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- BREADCRUMB -->
<nav class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Breadcrumb -->
                <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
                    <li class="breadcrumb-item">
                        <a class="text-gray-400" href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-gray-400" href="/Home/ContactUs">Contact Us</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Store Locator
                    </li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<!-- HEADER -->
<section class="pt-7 pb-12">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                <!-- Heading -->
                <h3 class="mb-10 text-center">Store Locator</h3>
                <!-- Search -->
                <div class="input-group input-group-merge">
                    <input class="form-control" type="search" placeholder="Enter Country or City">
                    <div class="input-group-append">
                        <button class="btn btn-outline-border" type="submit">
                            <i class="fe fe-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MAP -->
<section class="py-12 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4">
                <!-- Card -->
                <div class="card card-xl h-md-0 minh-md-100 mb-10 mb-md-0 shadow" data-simplebar>
                    <div class="card-body">
                        <!-- Heading -->
                        <p class="font-weight-bold">
                            Baldwin Hills Crenshaw Plaza
                        </p>
                        <p class="text-gray-500">
                            Mönckebergstrasse 11
                            20095 Hamburg, Germany
                        </p>
                        <p>
                            <strong>Phone:</strong> <br>
                            <a class="text-gray-500" href="tel:6-146-389-574">6-146-389-574</a>
                        </p>
                        <p class="mb-0">
                            <strong>Store Hours:</strong> <br>
                            <span class="text-gray-500">10 am - 10 pm EST, 7 days a week</span>
                        </p>
                    </div>
                    <div class="card-body border-top">
                        <!-- Heading -->
                        <p class="font-weight-bold">
                            Stonewood Center
                        </p>
                        <p class="text-gray-500">
                            Largo Corsia Dei Servi 3
                            20122 Milan, Italy
                        </p>
                        <p>
                            <strong>Phone:</strong> <br>
                            <a class="text-gray-500" href="tel:6-146-389-574">6-146-389-574</a>
                        </p>
                        <p class="mb-0">
                            <strong>Store Hours:</strong> <br>
                            <span class="text-gray-500">10 am - 10 pm EST, 7 days a week</span>
                        </p>
                    </div>
                    <div class="card-body border-top">
                        <!-- Heading -->
                        <p class="font-weight-bold">
                            Shalyapin Palace
                        </p>
                        <p class="text-gray-500">
                            Block 5, 5th Floor, Harcourt Centre, Harcourt Road
                            Dublin, Ireland
                        </p>
                        <p>
                            <strong>Phone:</strong> <br>
                            <a class="text-gray-500" href="tel:6-146-389-574">6-146-389-574</a>
                        </p>
                        <p class="mb-0">
                            <strong>Store Hours:</strong> <br>
                            <span class="text-gray-500">10 am - 10 pm EST, 7 days a week</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <!-- Map -->
                <div class="embed-responsive embed-responsive-4by3">
                    <div class="embed-responsive-item" data-toggle="map"
                         data-markers='[{"position": [53.5508748,9.9985808], "info": "<div class=\"card card-sm\"><div class=\"card-body\"><p class=\"mb-2 font-weight-bold\">Baldwin Hills Crenshaw Plaza</p><p class=\"mb-3 text-gray-500\">Mönckebergstrasse 11 20095 Hamburg, Germany</p><p class=\"mb-1 font-weight-bold\">Phone:</p><p class=\"mb-3 text-grat-500\">6-146-389-574</p><p class=\"mb-1 font-weight-bold\">Store Hours:</p><p class=\"mb-0 text-grat-500\">10 am - 10 pm EST, 7 days a week</p></div>"}, {"position": [45.4646477,9.1935083], "info": "<div class=\"card card-sm\"><div class=\"card-body\"><p class=\"mb-2 font-weight-bold\">Stonewood Center</p><p class=\"mb-3 text-gray-500\">Largo Corsia Dei Servi 3 20122 Milan, Italy</p><p class=\"mb-1 font-weight-bold\">Phone:</p><p class=\"mb-3 text-grat-500\">6-146-389-574</p><p class=\"mb-1 font-weight-bold\">Store Hours:</p><p class=\"mb-0 text-grat-500\">10 am - 10 pm EST, 7 days a week</p></div>"}, {"position": [53.332769,-6.2663917], "info": "<div class=\"card card-sm\"><div class=\"card-body\"><p class=\"mb-2 font-weight-bold\">Shalyapin Palace</p><p class=\"mb-3 text-gray-500\">Block 5, 5th Floor, Harcourt Centre, Harcourt Road Dublin, Ireland</p><p class=\"mb-1 font-weight-bold\">Phone:</p><p class=\"mb-3 text-grat-500\">6-146-389-574</p><p class=\"mb-1 font-weight-bold\">Store Hours:</p><p class=\"mb-0 text-grat-500\">10 am - 10 pm EST, 7 days a week</p></div>"}]'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

