<section class="bg-light overflow-hidden">
    <div class="container">
        <div class="row no-gutters justify-content-between">
            <div class="col-12 col-md-5 col-lg-4 py-13">
                <!-- Pretitle -->
                <h6 class="heading-xxs text-gray-400">
                    Summer trends
                </h6>
                <!-- Heading -->
                <h1 class="mb-4">Our must haves</h1>
                <!-- Text -->
                <p class="text-gray-500 mb-8">
                    Male his our upon seed had said wherein their
                    i great wherein under you'll deep first multiply.
                    Fish waters they're herb shall saying.
                </p>
                <!-- Button -->
                <a class="btn btn-dark" href="/Shop">
                    Shop Now <i class="fe fe-arrow-right ml-2"></i>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <!-- Image -->
                <div class="h-100 vw-50 bg-cover" style="background-image: url(/assets/img/covers/cover-10.jpg);"></div>
            </div>
        </div>
    </div>
</section>