
@{
    ViewData["Title"] = "scrollspy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Extended UI</a></li>
                    <li class="breadcrumb-item active">Scrollspy</li>
                </ol>
            </div>
            <h4 class="page-title">Scrollspy</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Example in navbar</h4>
                <p class="text-muted font-14">
                    Scroll the area below the navbar and watch the active
                    class change. The dropdown items will be highlighted as well.
                </p>

                <ul class="nav nav-tabs nav-bordered mb-3">
                    <li class="nav-item">
                        <a href="#navbar-example-preview" data-toggle="tab" aria-expanded="false"
                           class="nav-link active">
                            Preview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#navbar-example-code" data-toggle="tab" aria-expanded="true" class="nav-link">
                            Code
                        </a>
                    </li>
                </ul> <!-- end nav-->
                <div class="tab-content">
                    <div class="tab-pane show active" id="navbar-example-preview">
                        <nav id="navbar-example2" class="navbar navbar-light bg-light">
                            <a class="navbar-brand" href="#">Navbar</a>
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#fat">fat</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#mdo">mdo</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none"
                                       data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        Dropdown <i class="mdi mdi-chevron-down"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#one">one</a>
                                        <a class="dropdown-item" href="#two">two</a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#three">three</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0"
                             class="scrollspy-example">
                            <h4 id="fat">fat</h4>
                            <p>
                                Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr
                                enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle
                                rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                                mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean
                                shorts, williamsburg hoodie minim qui you probably haven't heard of
                                them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                                Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan
                                ullamco consequat.
                            </p>
                            <h4 id="mdo">mdo</h4>
                            <p>
                                Veniam marfa mustache skateboard, adipisicing fugiat velit pitchfork
                                beard. Freegan beard aliqua cupidatat mcsweeney's vero. Cupidatat
                                four loko nisi, ea helvetica nulla carles. Tattooed cosby sweater
                                food truck, mcsweeney's quis non freegan vinyl. Lo-fi wes anderson
                                +1 sartorial. Carles non aesthetic exercitation quis gentrify.
                                Brooklyn adipisicing craft beer vice keytar deserunt.
                            </p>
                            <h4 id="one">one</h4>
                            <p>
                                Occaecat commodo aliqua delectus. Fap craft beer deserunt skateboard
                                ea. Lomo bicycle rights adipisicing banh mi, velit ea sunt next
                                level locavore single-origin coffee in magna veniam. High life id
                                vinyl, echo park consequat quis aliquip banh mi pitchfork. Vero VHS
                                est adipisicing. Consectetur nisi DIY minim messenger bag. Cred ex
                                in, sustainable delectus consectetur fanny pack iphone.
                            </p>
                            <h4 id="two">two</h4>
                            <p>
                                In incididunt echo park, officia deserunt mcsweeney's proident master
                                cleanse thundercats sapiente veniam. Excepteur VHS elit, proident
                                shoreditch +1 biodiesel laborum craft beer. Single-origin coffee
                                wayfarers irure four loko, cupidatat terry richardson master
                                cleanse. Assumenda you probably haven't heard of them art party
                                fanny pack, tattooed nulla cardigan tempor ad. Proident wolf
                                nesciunt sartorial keffiyeh eu banh mi sustainable. Elit wolf
                                voluptate, lo-fi ea portland before they sold out four loko.
                                Locavore enim nostrud mlkshk brooklyn nesciunt.
                            </p>
                            <h4 id="three">three</h4>
                            <p>
                                Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr
                                enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle
                                rights whatever. Anim keffiyeh carles cardigan. Velit seitan
                                mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean
                                shorts, williamsburg hoodie minim qui you probably haven't heard of
                                them et cardigan trust fund culpa biodiesel wes anderson aesthetic.
                                Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan
                                ullamco consequat.
                            </p>
                            <p>
                                Keytar twee blog, culpa messenger bag marfa whatever delectus food
                                truck. Sapiente synth id assumenda. Locavore sed helvetica cliche
                                irony, thundercats you probably haven't heard of them consequat
                                hoodie gluten-free lo-fi fap aliquip. Labore elit placeat before
                                they sold out, terry richardson proident brunch nesciunt quis cosby
                                sweater pariatur keffiyeh ut helvetica artisan. Cardigan craft beer
                                seitan readymade velit. VHS chambray laboris tempor veniam. Anim
                                mollit minim commodo ullamco thundercats.
                            </p>
                        </div>
                    </div> <!-- end preview-->

                    <div class="tab-pane" id="navbar-example-code">
                        <pre class="mb-0">
                        <span class="html escape">
                                                        &lt;nav id=&quot;navbar-example2&quot; class=&quot;navbar navbar-light bg-light&quot;&gt;
                                                            &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;Navbar&lt;/a&gt;
                                                            &lt;ul class=&quot;nav nav-pills&quot;&gt;
                                                                &lt;li class=&quot;nav-item&quot;&gt;
                                                                    &lt;a class=&quot;nav-link active&quot; href=&quot;#fat&quot;&gt;@@fat&lt;/a&gt;
                                                                &lt;/li&gt;
                                                                &lt;li class=&quot;nav-item&quot;&gt;
                                                                    &lt;a class=&quot;nav-link&quot; href=&quot;#mdo&quot;&gt;@@mdo&lt;/a&gt;
                                                                &lt;/li&gt;
                                                                &lt;li class=&quot;nav-item dropdown&quot;&gt;
                                                                    &lt;a class=&quot;nav-link dropdown-toggle arrow-none&quot;
                                                                        data-toggle=&quot;dropdown&quot; href=&quot;#&quot; role=&quot;button&quot;
                                                                        aria-haspopup=&quot;true&quot; aria-expanded=&quot;false&quot;&gt;Dropdown &lt;i
                                                                            class=&quot;mdi mdi-chevron-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                                                                    &lt;div class=&quot;dropdown-menu dropdown-menu-right&quot;&gt;
                                                                        &lt;a class=&quot;dropdown-item&quot; href=&quot;#one&quot;&gt;one&lt;/a&gt;
                                                                        &lt;a class=&quot;dropdown-item&quot; href=&quot;#two&quot;&gt;two&lt;/a&gt;
                                                                        &lt;div role=&quot;separator&quot; class=&quot;dropdown-divider&quot;&gt;&lt;/div&gt;
                                                                        &lt;a class=&quot;dropdown-item&quot; href=&quot;#three&quot;&gt;three&lt;/a&gt;
                                                                    &lt;/div&gt;
                                                                &lt;/li&gt;
                                                            &lt;/ul&gt;
                                                        &lt;/nav&gt;
                                                        
                                                        &lt;div data-spy=&quot;scroll&quot; data-target=&quot;#navbar-example2&quot; data-offset=&quot;0&quot;
                                                            class=&quot;scrollspy-example&quot;&gt;
                                                            &lt;h4 id=&quot;fat&quot;&gt;@@fat&lt;/h4&gt;
                                                            &lt;p&gt;...&lt;/p&gt;
                                                            &lt;h4 id=&quot;mdo&quot;&gt;@@mdo&lt;/h4&gt;
                                                            &lt;p&gt;...&lt;/p&gt;
                                                            &lt;h4 id=&quot;one&quot;&gt;one&lt;/h4&gt;
                                                            &lt;p&gt;...&lt;/p&gt;
                                                            &lt;h4 id=&quot;two&quot;&gt;two&lt;/h4&gt;
                                                            &lt;p&gt;...&lt;/p&gt;
                                                            &lt;h4 id=&quot;three&quot;&gt;three&lt;/h4&gt;
                                                            &lt;p&gt;...&lt;/p&gt;
                                                            &lt;p&gt;...&lt;/p&gt;
                                                        &lt;/div&gt;
                                                    </span>
                                                </pre> <!-- end highlight-->
                    </div> <!-- end preview code-->
                </div> <!-- end tab-content-->
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->

</div>
<!-- end row -->
