<section class="py-12">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading -->
                <h2 class="mb-4 text-center">Shop by Category</h2>
                <!-- Nav -->
                <div class="nav justify-content-center mb-10">
                    <a class="nav-link active" href="#topSellersTab" data-toggle="tab">Women</a>
                    <a class="nav-link" href="#topSellersTab" data-toggle="tab">Men</a>
                    <a class="nav-link" href="#topSellersTab" data-toggle="tab">Kids</a>
                </div>
                <!-- Content -->
                <div class="tab-content">
                    <!-- Pane -->
                    <div class="tab-pane fade show active" id="topSellersTab">
                        <!-- Slider -->
                        <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12" data-flickity='{"prevNextButtons": true}'>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-25.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>Dresses <small>(58)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-26.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>Tops <small>(35)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-27.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>T-shirts <small>(27)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-28.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>Shoes <small>(64)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-29.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>Jeans <small>(12)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-125.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>Sweatshirts <small>(11)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col" style="max-width: 200px;">
                                <div class="card">
                                    <!-- Image -->
                                    <img class="card-img-top" src="/assets/img/products/product-126.jpg" alt="...">
                                    <!-- Body -->
                                    <div class="card-body py-4 px-0 text-center">
                                        <!-- Heading -->
                                        <a class="stretched-link text-body" href="/Shop">
                                            <h6>Jackets <small>(9)</small></h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>