<section class="py-12">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                <!-- Heading -->
                <h2 class="mb-4 text-center">Top month Sellers</h2>
                <!-- Nav -->
                <div class="nav justify-content-center mb-10">
                    <a class="nav-link active" href="#topSellersTab" data-toggle="tab">Women</a>
                    <a class="nav-link" href="#topSellersTab" data-toggle="tab">Men</a>
                    <a class="nav-link" href="#topSellersTab" data-toggle="tab">Kids</a>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="topSellersTab">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Badge -->
                            <div class="badge badge-white card-badge card-badge-left text-uppercase">
                                New
                            </div>
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a class="card-img-hover" href="/Product">
                                    <img class="card-img-top card-img-back" src="/assets/img/products/product-120.jpg" alt="...">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-5.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Shoes</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Leather mid-heel Sandals
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold text-muted">
                                    $129.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a class="card-img-hover" href="/Product">
                                    <img class="card-img-top card-img-back" src="/assets/img/products/product-121.jpg" alt="...">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-6.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Dresses</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Cotton floral print Dress
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold text-muted">
                                    $40.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Badge -->
                            <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                                Sale
                            </div>
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a class="card-img-hover" href="/Product">
                                    <img class="card-img-top card-img-back" src="/assets/img/products/product-122.jpg" alt="...">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-7.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Shoes</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Leather Sneakers
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold">
                                    <span class="font-size-xs text-gray-350 text-decoration-line-through">$85.00</span>
                                    <span class="text-primary">$85.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a href="#!">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-8.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Tops</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Cropped cotton Top
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold text-muted">
                                    $29.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a href="#!">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-9.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Dresses</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Floral print midi Dress
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold text-muted">
                                    $50.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Badge -->
                            <div class="badge badge-dark card-badge card-badge-left text-uppercase">
                                Sale
                            </div>
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a class="card-img-hover" href="/Product">
                                    <img class="card-img-top card-img-back" src="/assets/img/products/product-123.jpg" alt="...">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-10.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Bags</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Suede cross body Bag
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold">
                                    <span class="font-size-xs text-gray-350 text-decoration-line-through">$79.00</span>
                                    <span class="text-primary">$49.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a class="card-img-hover" href="/Product">
                                    <img class="card-img-top card-img-back" src="/assets/img/products/product-124.jpg" alt="...">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-11.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Skirts</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Printed A-line Skirt
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold text-muted">
                                    $79.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <!-- Card -->
                        <div class="card mb-7">
                            <!-- Badge -->
                            <div class="badge badge-white card-badge card-badge text-uppercase">
                                New
                            </div>
                            <!-- Image -->
                            <div class="card-img">
                                <!-- Image -->
                                <a href="#!">
                                    <img class="card-img-top card-img-front" src="/assets/img/products/product-12.jpg" alt="...">
                                </a>
                                <!-- Actions -->
                                <div class="card-actions">
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="modal" data-target="#modalProduct">
                                            <i class="fe fe-eye"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-shopping-cart"></i>
                                        </button>
                                    </span>
                                    <span class="card-action">
                                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                                            <i class="fe fe-heart"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <!-- Body -->
                            <div class="card-body px-0">
                                <!-- Category -->
                                <div class="font-size-xs">
                                    <a class="text-muted" href="/Shop">Shoes</a>
                                </div>
                                <!-- Title -->
                                <div class="font-weight-bold">
                                    <a class="text-body" href="/Product">
                                        Heel strappy Sandals
                                    </a>
                                </div>
                                <!-- Price -->
                                <div class="font-weight-bold text-muted">
                                    $90.00
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Link  -->
                <div class="mt-7 text-center">
                    <a class="link-underline" href="#!">Discover more</a>
                </div>
            </div>
        </div>
    </div>
</section>