<ul class="metismenu side-nav">

    <li class="side-nav-title side-nav-item">CRUD DataTable</li>
    <li class="side-nav-item mm-@Html.IsSelected(controller: "Customer")">
        <a href="@Url.Action("Index", "Customer")" class="side-nav-link">
            <i class="uil-layer-group"></i>
            <span> Customers </span>
        </a>
    </li>
    <li class="side-nav-title side-nav-item">Navigation</li>
    <li class="side-nav-item">
        <a href="/Admin" class="side-nav-link">
            <i class="uil-home-alt"></i>
            <span> Dashboards </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">Apps</li>

    <li class="side-nav-item">
        <a href="/Admin/Chat" class="side-nav-link">
            <i class="uil-comments-alt"></i>
            <span> Chat </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-store"></i>
            <span> Manager </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/Product">Products</a>
            </li>
            <li>
                <a href="/Admin/ProductDetail">Products Details</a>
            </li>
            <li>
                <a href="/Admin/Orders">Orders</a>
            </li>
            <li>
                <a href="/Admin/OrderDetail">Order Details</a>
            </li>
            <li>
                <a href="/Admin/Customer">Customers</a>
            </li>
            <li>
                <a href="/Admin/ShoppingCart">Shopping Cart</a>
            </li>
            <li>
                <a href="/Admin/Checkout">Checkout</a>
            </li>
            <li>
                <a href="/Admin/Sellers">Sellers</a>
            </li>
        </ul>
    </li>
    <li class="side-nav-title side-nav-item">Custom</li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-copy-alt"></i>
            <span> Pages </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/PageProfile">Profile</a>
            </li>
            <li>
                <a href="/Admin/PageProfile2">Profile 2</a>
            </li>
            <li>
                <a href="/Admin/PageInvoice">Invoice</a>
            </li>
            <li>
                <a href="/Admin/PageFaq">FAQ</a>
            </li>
            <li>
                <a href="/Admin/PagePricing">Pricing</a>
            </li>
            <li>
                <a href="/Admin/PageMaintenance">Maintenance</a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" aria-expanded="false">
                    Authentication
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="/Admin/PageLogin">Login</a>
                    </li>                   
                    <li>
                        <a href="/Admin/PageRegister">Register</a>
                    </li>                    
                </ul>
            </li>
           
            <li>
                <a href="/Admin/PageTimeline">Timeline</a>
            </li>
        </ul>
    </li>


    <li class="side-nav-title side-nav-item mt-1">Components</li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-box"></i>
            <span> Base UI </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/Accordions">Accordions</a>
            </li>
            <li>
                <a href="/Admin/alerts">Alerts</a>
            </li>
            <li>
                <a href="/Admin/avatars">Avatars</a>
            </li>
            <li>
                <a href="/Admin/badges">Badges</a>
            </li>
            <li>
                <a href="/Admin/breadcrumb">Breadcrumb</a>
            </li>
            <li>
                <a href="/Admin/buttons">Buttons</a>
            </li>
            <li>
                <a href="/Admin/cards">Cards</a>
            </li>
            <li>
                <a href="/Admin/carousel">Carousel</a>
            </li>
            <li>
                <a href="/Admin/dropdowns">Dropdowns</a>
            </li>
            <li>
                <a href="/Admin/embedvideo">Embed Video</a>
            </li>
            <li>
                <a href="/Admin/grid">Grid</a>
            </li>
            <li>
                <a href="/Admin/listgroup">List Group</a>
            </li>
            <li>
                <a href="/Admin/mediaobject">Media Object</a>
            </li>
            <li>
                <a href="/Admin/modals">Modals</a>
            </li>
            <li>
                <a href="/Admin/notifications">Notifications</a>
            </li>
            <li>
                <a href="/Admin/pagination">Pagination</a>
            </li>
            <li>
                <a href="/Admin/popovers">Popovers</a>
            </li>
            <li>
                <a href="/Admin/progress">Progress</a>
            </li>
            <li>
                <a href="/Admin/ribbons">Ribbons</a>
            </li>
            <li>
                <a href="/Admin/spinners">Spinners</a>
            </li>
            <li>
                <a href="/Admin/tabs">Tabs</a>
            </li>
            <li>
                <a href="/Admin/tooltips">Tooltips</a>
            </li>
            <li>
                <a href="/Admin/typography">Typography</a>
            </li>
        </ul>
    </li>

    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-package"></i>
            <span> Extended UI </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/dragula">Dragula</a>
            </li>
            <li>
                <a href="/Admin/rangeslider">Range Slider</a>
            </li>
            <li>
                <a href="/Admin/ratings">Ratings</a>
            </li>
            <li>
                <a href="/Admin/scrollbar">Scrollbar</a>
            </li>
            <li>
                <a href="/Admin/scrollspy">Scrollspy</a>
            </li>
        </ul>
    </li>
    <li class="side-nav-item">
        <a href="/Admin/widgets" class="side-nav-link">
            <i class="uil-layer-group"></i>
            <span> Widgets </span>
        </a>
    </li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-streering"></i>
            <span> Icons </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/dripicons">Dripicons</a>
            </li>
            <li>
                <a href="/Admin/iconsmdi">Material Design</a>
            </li>
            <li>
                <a href="/Admin/unicons">Unicons</a>
            </li>
        </ul>
    </li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-document-layout-center"></i>
            <span> Forms </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/elements">Basic Elements</a>
            </li>
            <li>
                <a href="/Admin/advanced">Form Advanced</a>
            </li>
            <li>
                <a href="/Admin/validation">Validation</a>
            </li>
            <li>
                <a href="/Admin/wizard">Wizard</a>
            </li>
            <li>
                <a href="/Admin/fileuploads">File Uploads</a>
            </li>
            <li>
                <a href="/Admin/editors">Editors</a>
            </li>
        </ul>
    </li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-table"></i>
            <span> Tables </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/basic">Basic Tables</a>
            </li>
            <li>
                <a href="/Admin/datatable">Data Tables</a>
            </li>
        </ul>
    </li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-location-point"></i>
            <span> Maps </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li>
                <a href="/Admin/google">Google Maps</a>
            </li>
            <li>
                <a href="/Admin/vector">Vector Maps</a>
            </li>
        </ul>
    </li>
    <li class="side-nav-item">
        <a href="javascript: void(0);" class="side-nav-link">
            <i class="uil-folder-plus"></i>
            <span> Multi Level </span>
            <span class="menu-arrow"></span>
        </a>
        <ul class="side-nav-second-level" aria-expanded="false">
            <li class="side-nav-item">
                <a href="javascript: void(0);" aria-expanded="false">
                    Second Level
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Item 1</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);">Item 2</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" aria-expanded="false">
                    Third Level
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-third-level" aria-expanded="false">
                    <li>
                        <a href="javascript: void(0);">Item 1</a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">
                            Item 2
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-forth-level" aria-expanded="false">
                            <li>
                                <a href="javascript: void(0);">Item 2.1</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Item 2.2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

</ul>